<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Edit Profile</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-200 h-screen">
    <div class="bg-white p-8 rounded-lg shadow-md w-96 mx-auto mt-20">
      <h2 class="text-2xl font-semibold mb-4">Edit Profile</h2>
      <form action="/profile/edit" method="post">
        <div class="mb-4">
          <label class="block text-sm font-medium text-gray-600" for="email"
            >Email</label
          >
          <input class="mt-1 p-2 w-full border rounded-md" type="text"
          id="email" name="email" value="{{.Email}}" required {{if eq (printf
          "%v" .External) "true"}} disabled {{end}} />
        </div>
        <div class="mb-4">
          <label class="block text-sm font-medium text-gray-600" for="name">
            Name
          </label>
          <input
            class="mt-1 p-2 w-full border rounded-md"
            type="text"
            id="name"
            name="name"
            value="{{.Name}}"
            required
          />
        </div>
        <div class="mb-4">
          <label
            class="block text-sm font-medium text-gray-600"
            for="telephone"
          >
            Telephone
          </label>
          <input
            class="mt-1 p-2 w-full border rounded-md"
            type="telephone"
            id="telephone"
            name="telephone"
            value="{{.Telephone}}"
          />
        </div>
        <input
          class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-700"
          type="submit"
          value="Save & Continue"
        />
        <input type="hidden" value="{{.External}}" name="external" />
      </form>
      <a
        class="block mt-2 text-center w-full bg-gray-500 text-white p-2 rounded-md hover:bg-gray-700"
        href="/profile"
      >
        Cancel
      </a>
      {{if .Errors}}
      <ul class="block text-red-600">
        {{range $key, $value := .Errors}}
        <li><strong>{{ $key }}:</strong> {{ $value }}</li>
        {{end}}
      </ul>
      {{end}}
    </div>
  </body>
</html>
